
<% @page_title = @page.name %>
<div id="content">
 
    <div id="menu"> 
    <ul><%= render :partial => 'shared/page', :collection => @pages %>
    <% unless Post.first(:conditions => "status = 'Offentlig'").nil? %>
      <% if action_name.to_s != "blogg" && action_name.to_s != "view_post" && action_name.to_s != "tag" && action_name.to_s != "category"%>
      <li><%= link_to "<span>Blogg</span>", view_blogg_path %></li>
      <%else%>
        <li><span>Blogg</span></li>
        <%end%>
      <% end %> </ul>
    </div>
   <div id="content_l">
 
  <%= @page.body %>
</div>
    
  </div> 


